:root {
  --color-beige: #dadbd3;
  --color-white: #ffffff;
  --color-white-alt1: #ededed;
  --color-white-alt2: #f6f6f6;
  --color-gray: grey;
  --color-light-gray: lightgray;
  --color-light-green: #dcf8c6;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
